@page "/brands"
@using FashionStoreViewModel;
@using FashionStoreWebApp.Services;
@using FashionStoreWebApp.Helpers;
@using FashionStoreWebApp.Constants;
@using ChangeEventArgs = Microsoft.AspNetCore.Components.ChangeEventArgs;


@attribute [Authorize(Roles = "Admin")]
@inject NavigationManager Navigation

@inject IBrandService BrandService

<h3>Brands</h3>

<!-- Search Box -->
<div class="mb-3 row">
    <div class="col-5">
        <input type="text" class="form-control" placeholder="Search brands..."
        @bind="SearchQuery" @oninput="OnInputSearch" />
    </div>
    <div class="col-auto">
        <button class="new-btn btn-primary" @onclick="() => OpenModal(null, ModalType.Edit)">Add new brand</button>
    </div>
</div>

<!-- Notification -->
@if (message != null) {
    <div class="col-auto">
        <p class="bg-success text-white msg-notify">@message</p>
    </div>
}


<!-- Brands Table -->
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (PagingBrand.TotalCount == 0)
        {
            <tr>
                <td colspan="4" class="text-center">No brands found.</td>
            </tr>
        }
        else
        {
            @foreach (var brand in PagingBrand.Items)
            {
                <tr>
                    <td>@brand.Id</td>
                    <td>@brand.Name</td>
                    <td>@brand.Description</td>
                    <td>
                        <button class="new-btn btn-warning btn-sm me-2" @onclick="() => OpenModal(brand, ModalType.Edit)">Edit</button>
                        <button class="new-btn btn-danger btn-sm" @onclick="() => OpenModal(brand,  ModalType.Delete)">Delete</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="modal @(IsOpenDeleteModal ? "show" : "hide")" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the brand "<strong>@BrandToDelete?.Name</strong>"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="new-btn btn-secondary" data-bs-dismiss="modal" @onclick="() => closeModal(ModalType.Delete)">Cancel</button>
                <button type="button" class="new-btn btn-danger" @onclick="ConfirmDelete">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal @(IsOpenEditModal ? "show" : "hide")" tabindex="-1" role="dialog" id="EditModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <EditForm id="editBrandForm" Model="BrandSelected" OnValidSubmit="SaveBrand">
                <ChildContent Context="formContext">
                    <div class="modal-header">
                        <h5 class="modal-title">@(BrandSelected == null ? "Add New Brand" : $"Edit brand {BrandSelected.Name}")</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <DataAnnotationsValidator />
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name" @bind="BrandSelected.Name" required />
                            <ValidationMessage For="@(() => BrandSelected.Name)" />
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea type="text" class="form-control" id="description" name="description" @bind="BrandSelected.Description" required />
                            <ValidationMessage For="@(() => BrandSelected.Description)" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="new-btn btn-secondary" data-bs-dismiss="modal" @onclick="() => closeModal(ModalType.Edit)">Cancel</button>
                        <button type="submit" class="new-btn btn-danger">Save</button>
                    </div>
                </ChildContent>
            </EditForm>
        </div>
    </div>
</div>
<!-- Pagination -->
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item @(CurrentPage == 1 ? "disabled" : "")">
            <button class="page-link" @onclick="PreviousPage">Previous</button>
        </li>
        @for (int i = 1; i <= PagingBrand.TotalPages; i++)
        {
            <li class="page-item @(i == CurrentPage ? "active" : "")">
                <button class="page-link" @onclick="() => GoToPage(i)">@i</button>
            </li>
        }
        <li class="page-item @(CurrentPage == TotalPages ? "disabled" : "")">
            <button class="page-link" @onclick="NextPage">Next</button>
        </li>
    </ul>
</nav>

@code {
    private int CurrentPage = 1;
    private int PageSize = 5;
    private int TotalBrands = 0;
    private string SearchQuery = string.Empty;
    private int TotalPages = 0;
    private bool IsOpenDeleteModal = false;
    private BrandVm BrandToDelete { get; set; }

    private bool IsOpenEditModal = false;
    private BrandVm BrandSelected;
    private PagingData<BrandVm> PagingBrand = new PagingData<BrandVm>([], 0, 1, 5);
    private string message;
    private enum ModalType
    {
        Delete,
        Edit
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadBrands();
    }

    private async Task LoadBrands()
    {
        PagingBrand = await BrandService.GetBrands(SearchQuery, CurrentPage, PageSize);
        TotalBrands = PagingBrand.TotalCount;
        TotalPages = PagingBrand.TotalPages;
    }

    private async void PreviousPage()
    {
        if (CurrentPage > 1)
        {
            CurrentPage--;
            await LoadBrands();
        }
    }

    private async void NextPage()
    {
        if (CurrentPage < PagingBrand.TotalPages)
        {
            CurrentPage++;
            await LoadBrands();
        }
    }

    private async void GoToPage(int page)
    {
        CurrentPage = page;
        await LoadBrands();
    }

    private async Task OnInputSearch(ChangeEventArgs e)
    {
        SearchQuery = e.Value?.ToString();

        await LoadBrands();
    }

    // Open Delete Modal
    private void OpenModal(BrandVm brand, ModalType modalType)
    {
        if (modalType == ModalType.Edit)
        {
            IsOpenEditModal = true;
            BrandSelected = brand ?? new BrandVm();
        }
        else
        {
            IsOpenDeleteModal = true;
            BrandToDelete = brand;
        }
    }

    // Confirm Delete
    private async Task ConfirmDelete()
    {
        if (BrandToDelete != null)
        {
            var result = await BrandService.Delete(BrandToDelete.Id);
            if (result.Succeeded) {
                message = "Delete brand successfully !!!";
                TaskDelayHelper.SetTimeout(
                    () => {
                        message = null;
                        StateHasChanged();
                    }, 
                    ConstantValues.NOTIFY_TIME_OUT);

            }
            await LoadBrands(); // Refresh the list after deletion
        }
        closeModal(ModalType.Delete);
    }

    private void closeModal(ModalType modalType)
    {
        if (modalType == ModalType.Edit)
        {
            IsOpenEditModal = false;
            BrandSelected = null;
        }
        else if (modalType == ModalType.Delete)
        {
            IsOpenDeleteModal = false;
        }
    }

    private async Task SaveBrand()
    {
        if (BrandSelected.Id == 0)
        {
            var result = await BrandService.CreateBrandAsync(BrandSelected);
            if (result.Succeeded)
            {
                message = "Create new brand successfully !!!";
                TaskDelayHelper.SetTimeout(() => ResetMessage(), ConstantValues.NOTIFY_TIME_OUT);
            }
        }
        else
        {
            var result = await BrandService.UpdateBrandAsync(BrandSelected);
            message = $"Edit brand {BrandSelected.Name} successfully !!!";
            TaskDelayHelper.SetTimeout(() => ResetMessage(), ConstantValues.NOTIFY_TIME_OUT);
            BrandSelected = null;
        }
        closeModal(ModalType.Edit);
        await LoadBrands();
    }

    private void ResetMessage() {
        message = null;
        StateHasChanged();
    }
}
