@page "/cart"

@using FashionStoreViewModel;
@using FashionStoreWebApp.Services;
@using FashionStoreWebApp.Helpers;
@using FashionStoreWebApp.Constants;
@using FashionStoreViewModel.Enumerations;

@attribute [Authorize(Roles = "User")]

@inject ICartService CartService;

<PageTitle>Shopping Cart</PageTitle>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shopping Cart</h4>
                    <div class="breadcrumb__links">
                        <a href="/">Home</a>
                        <a href="/search-product">Products</a>
                        <span>Shopping Cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var cart in Carts) {
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img class="product-img" src="@GetImageUrl(cart.ProductImageUrl)" alt="">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>@cart.ProductName</h6>
                                            <h5>$@cart.Price</h5>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <div class="pro-qty-2">
                                                <i class="fa-solid fa-angle-left pointer" @onclick="() => DecreaseQuantity(cart)"></i>
                                                <input type="text" @bind-value="cart.Quantity" @bind-value:after="() => UpdateQuantity(cart)">
                                                <i class="fa-solid fa-angle-right pointer" @onclick="() => IncreaseQuantity(cart)"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">$ @(cart.Price * cart.Quantity)</td>
                                    <td class="cart__close">
                                        <i class="fa fa-close pointer" @onclick="() => RemoveCart(cart.Id)"></i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a href="#">Continue Shopping</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn update__btn">
                            <a href="#"><i class="fa fa-spinner"></i> Update cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart__discount">
                    <h6>Discount codes</h6>
                    <form action="#">
                        <input type="text" placeholder="Coupon code">
                        <button type="submit">Apply</button>
                    </form>
                </div>
                <div class="cart__total">
                    <h6>Cart total</h6>
                    <ul>
                        <li>Subtotal <span>$ @GetTotalPrice()</span></li>
                        <li>Total <span>$ @GetTotalPrice()</span></li>
                    </ul>
                    <a href="/checkout" class="primary-btn">Proceed to checkout</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->

@code {
    private IList<CartVm> Carts = new List<CartVm>();

    protected override async Task OnInitializedAsync()
    {
        await FetchCarts();
    }

    private async Task FetchCarts() {
        Carts = await CartService.GetCartItems();
        StateHasChanged();
    }

    private async Task RemoveCart(long cartId) {
        await CartService.RemoveCartById(cartId);
        await FetchCarts();
    }

    private string GetImageUrl(string imageName)
    {
        return $"{ConstantValues.BACKEND_URL}/{imageName}";
    }

    private async Task IncreaseQuantity(CartVm cart) {
        cart.Quantity++;
        await UpdateQuantity(cart);
    }

    private async Task DecreaseQuantity(CartVm cart)
    {
        cart.Quantity--;
        await UpdateQuantity(cart);
    }

    private async Task UpdateQuantity(CartVm cart) {
        await UpdateCart(cart);
    }

    private async Task UpdateCart(CartVm cart) {
        await CartService.UpdateCartItemQuantity(cart);
        await FetchCarts();
    }

    private decimal GetTotalPrice() {
        return Carts.Sum(cart => cart.Quantity * cart.Price);
    }
}
